body{
	background-color: black;
	font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif;
}

*{
	margin: 0;
}

h1{
	margin: 0;
}

h2{
	margin: 0;
}

p{
	margin: 0;
}

.navigation{
	z-index: 9999;
	width: 100%;
	background-color: grey;
	position: fixed;
	top: 0;
	color: white;
	text-transform: uppercase;

}

.navigation ul{
	list-style-type: none;
}

.navigation li{
	float: left;
	padding: 10px;
}

.navigation a{
	color: white;
}

.navigation li:hover{
	background-color: black;
}

.foto{
	text-align: center;
	position: relative;
	bottom: -100px;
}

.foto img{
	width: 20%;
	border-radius: 50%;
	margin: 0;
}

.head{
	background-color: white;
	text-align: center;
	padding: 120px 0px 10px;
}

.head h1{
	font-family: "Lucida Console", Monaco, monospace;
}

.judul{
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-family: Impact, Charcoal, sans-serif;
	text-decoration: underline;
}

.head h4{
	margin: 0;
}

.sosmed{
	background-color: grey;
	text-align: center;
}

.sosmed img{
	width: 25%;
	padding:10% 0%;
}

.work{
	padding-top: 10px;
	background: white; /* For browsers that do not support gradients */
   	border-top: solid 1px #E5E5E5;
   	border-width: thin;
    text-align: center;
}

.work h2{
	text-align: center;
	padding-top: 20px;
}

.work h5{
	font-style: italic;

}

.work img{
	width: 70%;
	height: auto;
	margin-bottom: 10px;
}

.study{
	padding-top: 10px;
	background: white; /* For browsers that do not support gradients */
   	border-top: solid 1px #E5E5E5;
   	border-width: thin;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;

}

.study p{
	text-align: left;
}

.about{
	padding-top: 10px;
	background: white; /* For browsers that do not support gradients */
   	border-top: solid 1px #E5E5E5;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}

.do{
	padding-top: 10px;
	background: white; /* For browsers that do not support gradients */
   	border-top: solid 1px #E5E5E5;
    text-align: center;   
}

.do div{
	padding-bottom:20px;	
}

.do img{
	width: 25%;
}

.footer{
	text-align: center;
	padding: 30px;
}

@media screen and (max-width: 480px) {

	.navigation div{
		margin-left: -20px;
	}

	.foto{
		bottom: -65px;
	}

	.foto img{
		width: 40%;
		border-radius: 50%;
		margin: 0;
	}

	.sosmed img{
		width: 70%;
		padding:10% 0%;
	}

    .study p{
		font-size: 8px;
	}
}

@media screen and (max-width: 1280px) {
	.sosmed img{
		width: 50%;
		padding:10% 0%;
	}
}